.nav-title {
	font-family: 'Halant', serif;
	font-weight: 400;
}

.site-heading  h1{
	font-family: 'Halant', serif;
	font-weight: 400;
	line-height: 1.0;

}

.subheading{
	font-family: 'Halant', serif !important; 
	font-weight: 600;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}