---
layout: default
---



<div class="row">
  <div class="col-lg-11 col-md-10 mx-auto">
    {% for post in site.posts%}
    <div class="row border-bottom" style='margin-top:20px;'>
      <div class="col-md-4">
        <img src="{{post.img_thumbnail}}">
      </div>
      <div class="col-md-8">
        <h2 >
          <a href="{{post.url}}" style="color:black;font-family: 'Mitr';">
            {{ post.title }}
          </a>
        </h2>
        <!-- <p style="color:#808080"><i>{{post.date | date: "%-d %B %Y" }}</i></p> -->
        <a style="font-family: 'Mitr';">Tag:</a>
        {% for tag in post.tags%}
          <button onclick="load_post_by_tag('{{tag}}');" class="badge badge-primary" id="{{tag}}_{{post.title}}" style="border: 0pt;font-family: 'Mitr';">{{tag}}</button>
          <script type="text/javascript">
            document.getElementById("{{tag}}_{{post.title}}").style.backgroundColor = tag_color['{{tag}}'];
            // alert('asdfasfadsf');
          </script>
        {% endfor %}
        <p style='margin-top:10px;text-align: justify;font-family: "Sarabun", sans-serif;'>
          {{ post.description }}
        </p>
        <p style="color:#808080; font-size: 12pt;"><i>{{post.date | date: "%-d %B %Y" }}</i></p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>